.menu_button {
  position: relative;
  cursor: pointer;
  padding: 20px 0;
  margin-left: 32px;
}

.menu_button a {
  display: flex;
  align-items: center;
}

.menu_button:first-child {
  margin-left: 0;
}

.menu_button ul {
  width: 176px;
  display: none;
  list-style: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  padding: 20px;
  top: calc(1rem + 43px);
  left: 0;
}

.menu_button:hover ul {
  display: block;
}

.menu_button ul li {
  color: #000;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.8rem;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
}

.menu_button ul li:last-child {
  border-bottom: none;
}

.dropdown {
  transform-origin: top;
  animation: 0.3s 1 cubic-bezier(0.22, 0.61, 0.36, 1) show;
}

.dropdown a {
  font-weight: 400;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.8rem;
  padding: 8px 0;
}

.dropdown li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 400;
}

.dropdown li a:hover {
  color: #969696;
  padding-left: 8px;
  color: #969696;
}

@keyframes show {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
