.content {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
}

@media screen and (min-width: 554px) and (max-width: 839px) {
  .content {
    width: 554px;
    justify-content: center;
  }
}

@media screen and (min-width: 840px) and (max-width: 1239px) {
  .content {
    width: 840px;
  }
}

@media screen and (min-width: 1240px) {
  .content {
    width: 1240px;
  }
}
