.content {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1250px;
}
@media screen and (max-width: 839px) {
  .content {
    padding: 0 20px;
  }
}

@media screen and (min-width: 840px) and (max-width: 1239px) {
  .content {
    width: 800px;
  }
}

@media screen and (min-width: 1210px) {
  .content {
    width: 1200px;
  }
}
/* 

@media screen and (min-width: 840px) and (max-width: 1239px) {
  .content {
    width: 840px;
  }
}

@media screen and (min-width: 1240px) {
  .content {
    width: 1240px;
  }
} */
