.loader {
  position: relative;
  width: fit-content;
  margin: 50px auto;
  display: flex;
  height: 50px;
}

.loader div {
  top: 0;
  position: absolute;
  margin: 10px 2px;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: #9595ff;
}

.left {
  left: -10px;
  animation: 3s infinite ease-in-out leftAnimation;
}
.right {
  left: 10px;
  animation: 3s infinite ease-in-out rightAnimation;
}

@keyframes leftAnimation {
  0% {
    left: 0px;
  }
  50% {
    left: -100px;
    transform: scale(0.2, 0.2);
  }
  100% {
    left: 0;
  }
}

@keyframes rightAnimation {
  0% {
    left: 0px;
  }
  50% {
    left: 100px;
    transform: scale(0.2, 0.2);
  }
  100% {
    left: 0;
  }
}
